<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="defaultLayout"/>
<f:section name="mainContainer">
    <div class="page-wrapper">
        <f:render arguments="{_all}" partial="Page/CookieConsent"/>
        <f:render arguments="{_all}" partial="Page/MenuBreadcrumb"/>

        <!--TYPO3SEARCH_begin-->
        <main class="container">
            <div class="row">
                <aside class="d-none d-lg-flex col-lg-4 col-xl-3">
                    <f:render arguments="{_all}" partial="Page/MenuLevel1"/>
                </aside>
                <article class="main-content col-12 col-lg-8 col-xl-9">
                    <f:if condition="{content_0}">
                        <f:format.raw>{content_0}</f:format.raw>
                    </f:if>
                </article>
            </div>
        </main>
        <!--TYPO3SEARCH_end-->
        <div class="slideout-shield"></div>
    </div>
</f:section>
</html>
