*.tgz

/tmp/
/db/
/typo3/.sass-cache/
/.sass-cache/

#**/Resources/Public/*
#!**/Resources/Public/External/
.idea*
.vscode*

## Typo3
/typo3/web/fileadmin/
/typo3/web/uploads/
/typo3/web/typo3conf/deprecation*
# Ignore cache
# Ignore temp directory.
# Enable Install Tool
/typo3/web/typo3conf/ENABLE_INSTALL_TOOL

typo3/var/

# ignore everything
/typo3/vendor/
**/Public/*
**/tmp/*

# exclude from excluding
!/typo3/web/
/typo3/web/*
!/typo3/web/robots.txt
!/typo3/web/typo3conf/
/typo3/web/typo3conf/*
!/typo3/web/typo3conf/AdditionalConfiguration.php
!/typo3/web/typo3conf/ContextConfiguration/
/typo3/web/typo3conf/ContextConfiguration/*
!/typo3/web/typo3conf/ContextConfiguration/AdditionalConfiguration_development.php
!/typo3/web/typo3conf/ContextConfiguration/AdditionalConfiguration_development_podman.php

# ignore all extension excluded the cyz*
# add patched extension with "git add -f"
/typo3/web/typo3conf/ext/*

packagehash.txt

# Gulp
**node_modules
*.map
!domain.map
config-local.json
