<f:if condition="{false}">
    <!--
        HTML-Teil der Hauptnavigation

        @author Chris Müller <mueller@cyperfection.de>
        @version $Id: navMain.html 15 2011-12-06 13:05:04Z christian $
        @package badenia
    -->
</f:if>

<f:cObject typoscriptObjectPath="lib.navmain">
    <ul class="navproducts">
        <li class="active">
            <a href="#">Produkte &amp; Tarife</a>
            <ul>
                <li><a href="#">Bausparen</a></li>
                <li><a href="#">Finanzieren</a></li>
                <li><a href="#">Riester</a></li>
                <li><a href="#">Sparen</a></li>
            </ul>
        </li>
        <li><a href="#">Ziele &amp; Wünsche</a></li>
    </ul>
    <ul class="navcompany">
        <li><a href="#">Badenia</a></li>
        <li class="active">
            <a href="#">Presse</a>
            <ul>
                <li><a href="#">Aktuelle Meldungen</a></li>
                <li><a href="#">Tipps und Themen</a></li>
                <li><a href="#">Archiv</a></li>
                <li><a href="#">Dialog</a></li>
            </ul>
        </li>
        <li><a href="#">Karriere</a></li>
    </ul>
</f:cObject>
