<f:if condition="{false}">
    <!--
        HTML-Teil der Servicenavigation

        @author Chris Müller <mueller@cyperfection.de>
        @version $Id: navService.html 62 2011-12-09 10:06:12Z christian $
        @package badenia
    -->
</f:if>

<div class="navservice cf">
    <f:cObject typoscriptObjectPath="lib.socialbookmarks">
        <ul class="social-bookmarks">
            <li><a class="facebook" href="#" rel="nofollow" title="Facebook">Facebook</a></li>
            <li><a class="twitter" href="#" rel="nofollow" title="Twitter">Twitter</a></li>
        </ul>
    </f:cObject>
    <f:cObject typoscriptObjectPath="lib.pagefunctions">
        <ul class="page-functions">
            <li><a class="bookmark" href="#" rel="nofollow" title="Lesezeichen">Lesezeichen</a></li>
            <li><a class="print" href="javascript:window.print();" rel="nofollow" title="Drucken">Drucken</a></li>
        </ul>
    </f:cObject>
</div>
