{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        'ie >= 11'
                    ]
                },
                "modules": false
            }
        ]
    ],
    // with options
    "plugins": [
        [
            "@babel/plugin-transform-classes",
            {
                "loose": true
            }
        ]
    ]
}
