<!-- vim: set ft=fluid :-->
<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:spaceless>
        <f:if condition="!{shortcuts}">
            <f:then>
                <f:if condition="{data.frame_class} != none">
                    <f:then>

                        <div class="row frame frame-{data.frame_class} frame-type-{data.CType}{f:if(condition: '{data.CType} == list', then: ' frame-list-{data.list_type} ')}frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}" id="c{data.uid}">
                            <f:if condition="{data._LOCALIZED_UID}">
                                <a id="c{data._LOCALIZED_UID}"></a>
                            </f:if>
                            <f:render optional="true" section="Before">
                            <f:render arguments="{_all}" partial="DropIn/Before/All"/>
                            </f:render>
                            <f:render optional="true" section="Header">
                            <f:render arguments="{_all}" partial="Header/All"/>
                            </f:render>

                            <div class="main-section col-12{f:if(condition: '({data.parentgrid_tx_gridelements_backend_layout} == 51) || (({data.list_type} == \'powermail_pi1\') && ({data.frame_class} != \'powermail-open\')', then: ' DOM-slider-hidden')}"
                                 {f:if(condition: '(({data.list_type} == \'powermail_pi1\') && ({data.frame_class} != \'powermail-open\')', then: 'id="slideout-{data.uid}')}">
                                <f:render optional="true" section="Main"/>
                            </div>
                            <f:if condition="(({data.list_type} == 'powermail_pi1')  && ({data.frame_class} != 'powermail-open')) || ({data.parentgrid_tx_gridelements_backend_layout} == 51)">
                                <span class="caret" data-slideout-id="slideout-{data.uid}" title="Formular öffnen"></span>
                            </f:if>

                            <f:render optional="true" section="Footer">
                            <f:render arguments="{_all}" partial="Footer/All"/>
                            </f:render>
                            <f:render optional="true" section="After">
                            <f:render arguments="{_all}" partial="DropIn/After/All"/>
                            </f:render>
                        </div>

                    </f:then>
                    <f:else>

                        <a id="c{data.uid}"></a>
                        <f:if condition="{data._LOCALIZED_UID}">
                            <a id="c{data._LOCALIZED_UID}"></a>
                        </f:if>
                        <f:if condition="{data.space_before_class}">
                            <div class="frame-space-before-{data.space_before_class}"></div>
                        </f:if>
                        <f:render optional="true" section="Before">
                        <f:render arguments="{_all}" partial="DropIn/Before/All"/>
                        </f:render>
                        <f:render optional="true" section="Header">
                        <f:render arguments="{_all}" partial="Header/All"/>
                        </f:render>
                        <f:render optional="true" section="Main"/>
                        <f:render optional="true" section="Footer">
                        <f:render arguments="{_all}" partial="Footer/All"/>
                        </f:render>
                        <f:render optional="true" section="After">
                        <f:render arguments="{_all}" partial="DropIn/After/All"/>
                        </f:render>
                        <f:if condition="{data.space_after_class}">
                            <div class="frame-space-after-{data.space_after_class}"></div>
                        </f:if>

                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:format.raw>{shortcuts}</f:format.raw>
            </f:else>
        </f:if>
    </f:spaceless>
</html>
