<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:render arguments="{_all}" partial="Soap3/Header"/>
<div class="row frame frame-default frame-type-list frame-list-powermail_pi1 frame-layout-0">
    <header class="col-12" data-slideout-id="slideout-{data.uid}"><h2 class="">
        {data.header}
    </h2></header>
    <f:render section="mainContainer"/>
    <span class="caret" data-slideout-id="slideout-{data.uid}" title="Formular öffnen"></span>
</div>
</html>
