footer {
    margin-top: 30px;
    padding-bottom: 30px;
    &:before {
        max-width: map_get($container-max-widths, 'xl');
        border-top: 2px solid $red;
        display: block;
        content: "";
        margin: 0 auto;
    }

    > .container {
        padding: 0 15px 10px 15px;
    }

    .container {
        width: auto;
        max-width: map_get($container-max-widths, 'xl');
    }

    .meta-nav-wrapper {
        position: relative;
        padding-top: 88px;

        .footer-control {
            text-align: center;
            padding: 20px 10px 0 10px;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;

            &:after {
                margin-top: 26px;
                content: '';
                width: 100%;
                display: block;
                border-bottom: 1px solid $red;
            }
        }

        .navbar + .footer-control .meta-nav-close,
        .navbar.DOM-slider-hidden + .footer-control .meta-nav-open {
            display: inline-block;
        }

        .navbar.DOM-slider-hidden + .footer-control .meta-nav-close,
        .navbar + .footer-control .meta-nav-open {
            display: none;
        }

        nav {
            padding: 20px 0 0 10px;
            margin: 0;
            width: 100%;

            &:after {
                margin-top: 10px;
                content: '';
                width: 100%;
                display: block;
                border-bottom: 1px solid $red;
            }

            .navbar-nav {
                flex-wrap: wrap;

            }

            li {
                list-style-type: none;
                margin: 0;
                padding: 0 10px;

                &:nth-child(odd) {
                    text-align: right;
                }

                a {
                    color: $grey6;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    font-size: 13px;
                }
            }
        }
    }

    .brand-wrapper {
        margin-top: 20px;
    }

    .footer-brand {
        text-align: center;
    }

    .brand {
        display: inline-block;
        width: 143px;
        text-align: right;
        margin-bottom: 10px;

        img {
            width: 143px;
            height: auto;
        }

        .logo-svg {
            display: block;
            position: relative;
            z-index: 3;
            width: 100%;
            height: 100%;

            &after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    .copyright {
        font-size: 13px;
        line-height: 1.46154;
        margin-top: 10px;
        display: block;
        text-align: center;
        font-weight: $font-medium;
    }
}

@include media-breakpoint-up(lg) {
    footer {
        > .container {
            padding-top: 30px;
        }

        .meta-nav-wrapper {
            padding: 0;
            align-content: flex-start;
            display: flex;;
            border: none;

            .navbar.DOM-slider-hidden {
                ul {
                    margin: 0;
                    padding: 0;
                }

                align-self: flex-end;
                padding: 0;
                display: block !important;
                height: auto !important;

                &:after {
                    display: none;
                }

                .col-6 {
                }
            }

        }

        .brand-wrapper {
            .footer-brand {
                text-align: right;
            }
            p {
                margin: 0;
            }
            margin-top: 0;
            display: flex;
            justify-content: flex-end;
        }
    }
}
