.ce-header {
    .image {
        margin-bottom: 40px;
        img {
            width: 100%;
        }
    }
    .subheader {
        font-weight: $font-light;
        font-size: 24px;
        line-height: 1.41667;
        margin-bottom: 0;
        padding-bottom: 20px;
        padding-top: 10px;
        border-bottom: 1px solid #a6a8aa;
        margin: 0 0 20px 0;
    }
}
