.frame-type-list.frame-list-powermail_pi1 {
    position: relative;

    header {
        &:hover {
            cursor: pointer;
        }
        h1, h2, h3, h4 {
            padding-left: 60px;
            line-height: 50px;
            background: $red;
            color: $white;
            text-align: left;
            margin: 0;
            position: relative;
            padding-right: 35px;

            &:before {
                position: absolute;
                content: "\270e";
                left: 0;
                top: 0;
                font-size: 26px;
                line-height: 1.92308;
                color: inherit;
                width: 50px;
                height: 100%;
                border-right: 1px solid #fff;
                text-align: center;
            }
        }
    }

    .caret {
        position: absolute;
        right: 0;
        &:before {
            color: white;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

span.toggle-password {
    svg {
        display: none;
    }
}
