.frame-type-menu_sitemapframe-layout-0 ul {
    ul {
        margin-top: 5px;
        padding-bottom: 0;
        padding-top: 0;
    }
    li {
        background-position: 20px 5px;
        padding-bottom: 0;
        padding-top: 0;
    }
    color: #cb0000;
    font-weight: bold;
}
