<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{meldung}">
    <div class="meldung open">
        <div class="content">
            {meldung->f:format.raw()}
        </div>
        <button class="btn btn-lg btn-outline-primary close-meldung" value="1">
            <f:switch expression="{code}">
                <f:case value="100">Schließen</f:case>
                <f:case value="101">Schließen</f:case>
                <f:case value="200">OK</f:case>
                <f:defaultCase>Hier geht es weiter</f:defaultCase>
            </f:switch>
        </button>
    </div>
</f:if>
<f:if condition="{zwischenfrage}">
    <div class="meldung zwischenfrage open">
        <div class="content">
            {zwischenfrage->f:format.raw()}
        </div>
        <div class="powermail_fieldset submitcancel-submit row col-11 offset-md-1">
            <f:form action="cancel" method="post" name="cancel" object="{cancelObject}">
                <div class="hidden">
                    <f:form.hidden property="token"/>
                </div>
                <div class="powermail_fieldset powermail_fieldset_63 hide-field-label">
                    <div class="powermail_fieldset submitcancel">
                        <div class="powermail_fieldwrap powermail_fieldwrap_type_cancel">
                            <button class="btn btn-lg btn-primary" name="cancel" property="cancel" type="submit" value="0">Abbrechen</button>
                        </div>
                    </div>
                </div>
            </f:form>
            <div class="powermail_fieldwrap powermail_fieldwrap_type_submit">
                <button class="btn btn-lg btn-outline-primary close-meldung" value="1">Auszahlungsauftrag ändern</button>
            </div>
        </div>
    </div>
</f:if>
</html>
