<f:if condition="{image.originalFile.publicUrl}">
  <picture>
    <source data-srcset="{f:uri.image(image: '{image}', width: '576', cropVariant: 'portrait')}.webp"
            media="(orientation:portrait) and (max-width:576px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '768', cropVariant: 'portrait')}.webp"
            media="(orientation:portrait) and (max-width:768px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '992', cropVariant: 'portrait')}.webp"
            media="(orientation:portrait) and (max-width:992px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '1200', cropVariant: 'portrait')}.webp"
            media="(orientation:portrait) and (max-width:1200px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '2400', cropVariant: 'portrait')}.webp"
            media="(orientation:portrait) and (max-width:2400px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', cropVariant: 'portrait')}.webp"
            media="(orientation:portrait) and (min-width:2401px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '768', cropVariant: 'landscape')}.webp"
            media="(orientation:landscape) and (max-width:768px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '992', cropVariant: 'landscape')}.webp"
            media="(orientation:landscape) and (max-width:992px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '1200', cropVariant: 'landscape')}.webp"
            media="(orientation:landscape) and (max-width:1200px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '2400', cropVariant: 'landscape')}.webp"
            media="(orientation:landscape) and (max-width:2400px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', cropVariant: 'landscape')}.webp"
            media="(orientation:landscape) and (min-width:2401px)"
            type="image/webp">
    <source data-srcset="{f:uri.image(image: '{image}', width: '576', cropVariant: 'portrait')}"
            media="(orientation:portrait) and (max-width:576px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', width: '768', cropVariant: 'portrait')}"
            media="(orientation:portrait) and (max-width:768px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', width: '992', cropVariant: 'portrait')}"
            media="(orientation:portrait) and (max-width:992px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', width: '1200', cropVariant: 'portrait')}"
            media="(orientation:portrait) and (max-width:1200px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', width: '2400', cropVariant: 'portrait')}"
            media="(orientation:portrait) and (max-width:2400px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', cropVariant: 'portrait')}"
            media="(orientation:portrait) and (min-width:2401px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', width: '768', cropVariant: 'landscape')}"
            media="(orientation:landscape) and (max-width:768px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', width: '992', cropVariant: 'landscape')}"
            media="(orientation:landscape) and (max-width:992px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', width: '1200', cropVariant: 'landscape')}"
            media="(orientation:landscape) and (max-width:1200px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', width: '2400', cropVariant: 'landscape')}"
            media="(orientation:landscape) and (max-width:2400px)"
            type="image/jpeg">
    <source data-srcset="{f:uri.image(image: '{image}', cropVariant: 'landscape')}"
            media="(orientation:landscape) and (min-width:2401px)"
            type="image/jpeg">
    <img alt="{alt}" anim-detached="true" class="{imageClass}"
         src="{f:uri.image(image: '{image}', width: '100m', height: '100m')}" data-src="{f:uri.image(image: '{image}', width: '1200', cropVariant: 'landscape')}" tablet-support="" title="{title}"/>
  </picture>
</f:if>
