<html data-namespace-typo3-fluid="true" xmlns:f="http://www.w3.org/1999/html">
<div class="jumbotron-fluid cookie-consent DOM-slider-hidden" id="cookie-consent">
    <div class="container">
        <div class="content-wrapper">
            <div class="cookies-text">
                <button aria-label="Close" class="close" type="button"><span aria-hidden="true">×</span></button>
                <p>Unsere Website verwendet keine Statistik-, Analyse- oder Werbe-Cookies. Cookies verwenden wir nur, wenn diese notwendig dafür sind, Ihre Anfragen zu Verträgen und Produkten zu bearbeiten oder der bestmöglichen Funktion der Website dienen. Weitere Informationen hierzu sowie zu Ihren Datenschutzrechten finden Sie unter <f:link.page pageUid="15" >Datenschutz</f:link.page>.</p>
            </div>
        </div>
    </div>
</div>
</html>
