<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="jumbotron-fluid slider">
    <div class="slider glide swiper-container">
        <div class="glide__arrows glide-controls" data-glide-el="controls">
            <a class="glide__arrow glide__arrow--right caret caret-left swiper-button-prev" data-glide-dir="<"></a>
            <a class="glide__arrow glide__arrow--left caret swiper-button-next" data-glide-dir=">"></a>
        </div>
        <div class="glide__track swiper-wrapper" data-glide-el="track">
            <f:if condition="{content_5}">
                <f:format.raw>{content_5}</f:format.raw>
            </f:if>
        </div>
    </div>
</div>
</html>
