.breadcrumb-wrapper.jumbotron {
    background: $grey1;
    padding: 5px 0;
    min-height: 44px;
    margin-bottom: 0;

    .container {
        width: 100% !important;
        max-width: map_get($container-max-widths, 'xl');
        display: flex;
    }

    .pagetools {
        padding: 12px 15px 1px 15px;
        .icon-print {
            cursor: pointer;
        }
        span {
            display: none;
        }
    }

    nav.nav-bar {
        flex-grow: 1;
    }

    .breadcrumb {
        list-style: none;
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 0;
        min-height: 30px;
        font-size: 12px;
        line-height: 1.5;
        padding: 12px 15px 10px 15px;

        > li {
            display: inline-block;
            text-transform: uppercase;

            a {
                color: $grey6;
                &:hover {
                    color: $red;
                    text-decoration: underline;
                }
            }

            &:last-child {
                color: $red;
                font-weight: $font-bold;
            }
        }

        > li + li:before {
            content: "/ ";
            padding: 0 5px;
            color: $grey6;
        }
    }
}
