@font-face {
    font-family: generali-icon;
    src: url(../../../Fonts/generali-icon-eot-data.eot?) format("embedded-opentype"), url(../../../Fonts/generali-icon-ttf-data.ttf) format("truetype"), url(../../../Fonts/generali-icon-woff-data.woff) format("woff"), url(../../../Fonts/generali-icon-svg-data.svg#generali-icon) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Helvetica;
    font-weight: 300;
    src: url(../../../Fonts/HelveticaLight.eot?) format("embedded-opentype"), url(../../../Fonts/HelveticaLight.woff2) format("woff2"), url(../../../Fonts/HelveticaLight.woff) format("woff"), url(../../../Fonts/HelveticaLight.ttf) format("truetype"), url(../../../Fonts/HelveticaLight.svg) format("svg");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    font-weight: 400;
    src: url(../../../Fonts/HelveticaRoman.eot?) format("embedded-opentype"), url(../../../Fonts/HelveticaRoman.woff2) format("woff2"), url(../../../Fonts/HelveticaRoman.woff) format("woff"), url(../../../Fonts/HelveticaRoman.ttf) format("truetype"), url(../../../Fonts/HelveticaRoman.svg) format("svg");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    font-weight: 500;
    src: url(../../../Fonts/HelveticaMedium.eot?) format("embedded-opentype"), url(../../../Fonts/HelveticaMedium.woff2) format("woff2"), url(../../../Fonts/HelveticaMedium.woff) format("woff"), url(../../../Fonts/HelveticaMedium.ttf) format("truetype"), url(../../../Fonts/HelveticaMedium.svg) format("svg");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    font-weight: 700;
    src: url(../../../Fonts/HelveticaBold.eot?) format("embedded-opentype"), url(../../../Fonts/HelveticaBold.woff2) format("woff2"), url(../../../Fonts/HelveticaBold.woff) format("woff"), url(../../../Fonts/HelveticaBold.ttf) format("truetype"), url(../../../Fonts/HelveticaBold.svg) format("svg");
    font-display: swap;
    font-style: normal;
}
