
.page-wrapper {
    background: white;
        > main.container {
            width: 100% !important;
            max-width: map_get($container-max-widths, 'xl');
            padding: 30px (2 * $grid-gutter-width) 0 (2 * $grid-gutter-width) !important;
        }
}


.slideout-menu {
    display: none;
}

html {
    //font-size: 10px;
}

html {
    overflow-x: hidden;
}
.col-6-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0  $grid-gutter-width / 2;
}

@include media-breakpoint-up(sm) {
    .col-6-12 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@include media-breakpoint-up(lg) {
    .page-wrapper {
        transform: none !important;
        main.container {
            padding: 30px ($grid-gutter-width / 2) 0 ($grid-gutter-width / 2)  0 !important;
        }
    }
}
